.box {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.box-parent .scroll-main {
  -webkit-perspective: 800;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(245, 245, 245);
}

.e-padding-top {
  padding: 15px 0;
}

.box .content {
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  vertical-align: top;
}

.box.inverse .content.green {
  background-color: rgb(179, 200, 51);
}
.box.inverse .content.orange {
  background-color: #fb8521;
}

.box .first-heading {
  overflow: visible;
  margin: 0 0 15px 20px;
  padding: 23px 0 0 0;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  /*border-bottom: 1px solid rgb(245, 245, 245);*/
}

.box .first-heading img {
  float: left;
  margin: -10px 15px 0 10px;
  border-radius: 50%;
}

.box .second-heading {
  padding: 20px;
}

.box.inverse .second-heading p{
  line-height: 27px;
  margin-left: 35px;
}

.box.inverse .second-heading img {
  float: left;
}

.box .name {
  margin: 0;
  border: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  unicode-bidi: normal;
  line-height: 0;
}

.s-black {
	color: #262626;
}

.heading-contacts.active .name {
	color: #fff;
}

.s-clearfix {
  clear: both;
}

.s-muted {
  color: #999;
  display: inline-block;
  font-size: 12px; 
}

.s-muted-white {
  color: #eee;
  margin-left: 5px;
  font-weight: 300;
  display: inline-block;
  font-size: 12px;
}

.js-date {
  line-height: 30px;
}

.heading-contacts.active .s-muted {
  color: #f7f7f7;
  font-size: 12px; 
  font-weight: 100;
}

.text-info {
  margin: 0;
  text-align: left;
}

.box .label-type {
  position: absolute;
  top: 17px;
  right: 0;
  background-color: #427fed;
  font-size: 12px;
  color: #fff;
  height: 15px;
  padding: 5px 10px;
  -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.2), -3px 0px rgba(0,0,0,0.3) inset;
}

.green {
  background-color: #b3c833;
}

.red {
  background-color: #d73d32;
}

.box .question {
  color: #404040;
  font: 200 18px Roboto, arial, sans-serif;
  line-height: 1.4;
  max-height: 157px;
  /*border-bottom: 1px solid rgb(245, 245, 245);*/
}

.box.inverse .question {
  max-height: none;
}

.box .question p {
  margin: 0 20px 20px 20px;
}

.box .btn-answer li {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  padding: 0 20px;
  line-height: 36px;
  font-weight: normal;
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow:0 1px 0 rgba(0,0,0,.05);
  height: 36px;
  margin: 0 20px 20px 20px;
  list-style: none;
  text-align: center;
}

.box .btn-answer ul {
  margin-top: 30px;
  padding: 0;
}
.box .btn-answer a {
  text-decoration: none;
  color: #fff;
}

.box .graphic-icons {
  display: -webkit-box;
}

.box .graphics {
  text-align: center;
  position: relative;
  height: 120px;
  width: 50%;
}

.box .graphics canvas {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}

.box .graphics img {
  margin: 10px 40px 0 40px;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.box.inverse .name  {
  color: #fff;
  line-height: 1em;
}

.box.inverse .question {
  color: #fff;
  display: table;
}

.s-padding-top {
  padding-top: 20px;
}

.s-light {
  font-weight: 100;
}

.box textarea {
	background-color: #fff;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	border: 1px solid #e4e4e4;
	font-size: 16px;
	height: 60px;
	padding: 20px 0 0 20px;
	margin-left: 0;
	width: 100%;
}

.right {
	float: right;
}

.box li.tab-item {
	background-position: center;
	width: 32%;
	text-align: center;
	padding: 15px 0 15px 0;
  display: table-cell;
}

.box ul.icons {
	padding: 0;
	margin: 0;
	width: 100%;
  display: table;
}

.box .tab-item a {
	text-decoration: none;
	color: #262626;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 5px;
}

.box .tab-item a .tab-label {
  margin-top: 10px;
}

.box .tab-item.active {
	box-shadow: 0 0 10px #888888 inset;
}

.box .tab-item.active a {
  color: #fff;
}

.box .tab-item.active img.normal {
  display: none;
}

.box .tab-item img.selected {
  display: none;
}
.box .tab-item.active img.selected {
  display: inline;
}

.s-purple.active {
	background-color: #e700ff;

}

.s-blue.active {
	background-color: #427fed;
}

.s-black.active {
	background-color: #000;
}

.box .first-heading:active {
	padding-left: 0;
}

.box .heading-contacts {
	overflow: visible;
	padding: 20px 0 5px 0;
	/*border-bottom: 1px solid rgb(245, 245, 245);*/	
}

.box .heading-contacts img {
	float: left;
	margin: -10px 15px 0 10px;
	border-radius: 50%;
}

.box .heading-contacts.active {
	background-color: #b3c833;
	width: 100%;
	padding: 20px 0 5px 0;
}

.container-login {
  background-color: #b3c833;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

.container-login .big-title {
  padding: 60px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight:100;
}

.container-login .big-title .orange {
  color: #fb8521;
  background-color: transparent;
}

.container-login .btn-login .orange {
  background-color: #fb8521;
}

.container-login input {
  width: 90%;
  height: 50px;
  margin: 20px 0 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  cursor: text;
  font-size: 16px;
  padding: 6px 8px;
  border-bottom: 1px solid #fb8521;
  border-radius: 3px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.container-login .btn-login a{
  text-decoration: none;
  color: #fff;
}

.container-login .btn-login {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  line-height: 44px;
  font-weight: normal;
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  box-shadow: 0 -2px 0 rgba(0,0,0,.2) inset;
  height: 36px;
  margin: 20px;
  list-style: none;
  text-align: center;
  height: 46px;
  background-color:#fb8521;
}

.box .question img {
  float: right;
  margin-right: 10px;

}

.finished {
  background-color: rgb(101, 128, 146) !important;
}
